* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    background-color: transparent;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .logo {
    font-size: 2.5rem;
    font-weight: bold;
    color: #f6c90e;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .nav-links a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 2rem;
    transition: color 0.3s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 12px;
  }
  
  .nav-links a:hover {
    color: orange;
  }
  @media (max-width: 768px) {
    .nav-links {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background: whitesmoke;
      flex-direction: column;
      align-items: center;
      display: none;
    }
    .nav-links a {
      color: #333;
    }
  
    .nav-links.open {
      display: flex;
    }
}
  